name: Deploy Botadil

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
    - name: Deploy using the master script
      run: |
        # نادي "السكرتير" واديه "الحقائق" اللي جبناها
        sudo /usr/local/bin/deploy_bot.sh /root/bots/botadil BinanceTraderBot
